input[type=text] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px
}

input[type=password] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px
}

input[type=email] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px
}

input[type=submit] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer
}

input[type=submit]:hover {
    background-color: #0056b3
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer
}

button:hover {
    background-color: #0056b3
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0
}

.form-column form {
    width: 100%
}

.form-column label,
.form-column input,
.form-column button {
    width: 100%
}

.align-left-right {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-right: 10px
}